@{
    Layout = "_Layout_Account";
}

<p>Please check your email to confirm your account.</p>

<hr class="my-4">

<a asp-controller="Home" asp-action="Index" class="small text-primary">Return Home</a>