@model EmailViewModel
@{
    Layout = "_Layout_Account";
}

<h5 class="d-flex ms-1 mb-4">Enter Your Email</h5>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger d-flex"></div>

    <div class="form-outline mb-4">
        <input asp-for="Email" placeholder="example@example.com" class="form-control form-control-lg" />
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>

</form>

<hr class="my-4">

<a asp-controller="Home" asp-action="Index" class="small text-danger">Cancel</a>