@model ResetPasswordViewModel
@{
    Layout = "_Layout_Account";
}

<h5 class="d-flex ms-1 mb-4">Reset Your Password</h5>

<form asp-controller="Account" asp-action="ResetPassword" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger d-flex"></div>

    <div class="form-outline mb-4">
        <input asp-for="Email" placeholder="example@example.com" class="form-control form-control-lg" />
        <label asp-for="Email" class="form-label"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
    </div>

    <div class="form-outline mb-4">
        <input asp-for="Password" placeholder="new-password" class="form-control form-control-lg" />
        <label asp-for="Password" class="form-label"></label>
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
    </div>

    <div class="form-outline mb-4">
        <input asp-for="ConfirmPassword" placeholder="new-password" class="form-control form-control-lg" />
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
    </div>

    <input asp-for="DecodedToken" type="hidden" />

    <button type="submit" class="btn btn-primary btn-lg btn-block">Reset</button>

</form>

<hr class="my-4">

<a asp-controller="Home" asp-action="Index" class="small text-danger">Cancel</a>

<script>
    if (location.href.includes('?')) {
            history.pushState({}, null, location.href.split('?')[0]);
        }
</script>