@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="float">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="btn-group">
            <button data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success dropdown-toggle">
                @UserManager.GetUserName(User)
            </button>
            <div class="dropdown-menu dropdown-menu-end" style="min-width: 0px;">
                <a asp-controller="Account" asp-action="SignOutUser" class="dropdown-item">Sign Out</a>
            </div>
        </div>
    }
    else
    {
        <a asp-controller="Account" asp-action="SignIn" class="btn btn-primary">Sign In</a>
    }
</div>