<div id="createLayerDiv" class="btn-group">
    <a onclick="layer.showSave()" class="btn btn-success fw-bold">Save</a>
    <a onclick="layer.showDiscard()" class="btn btn-danger">Discard</a>
</div>
<div id="viewLayerDiv" class="btn-group">
    <button data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success dropdown-toggle">Create</button>
    <div class="dropdown-menu dropdown-menu-end" style="min-width: 0px;">
        <a onclick="layer.createRoute()" class="dropdown-item">Add Route</a>
        <a onclick="layer.createPortage()" class="dropdown-item">Add Portage</a>
        <a onclick="layer.createCampsite()" class="dropdown-item">Add Campsite</a>
    </div>
</div>